// app global css in SCSS form
* {
  margin: 0;
  padding: 0;
}

@media print {
  div {
    break-inside: avoid;
  }

  .q-drawer-container {
    display: none;
  }

  .print-break {
    page-break-before: always;
  }

  #q-notify {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.q-drawer {
  .q-router-link--exact-active {
    background-color: $grey-3;
  }
}

.never-active {
  background-color: white !important;
}
