// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #333333;
$secondary: #8a2434;
$accent: #759953;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #46bb4a;
$negative: #c01e1e;
$info: #95b4b9;
$warning: #edc042;
